body{
    background-color: rgb(201, 147, 124);
}

h1 {
    color: #3b1922; 
    text-align: center;
    font-size: 50px;
}

p{
    color:black;
    text-align: center;
    font-size: 30px;
}